@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@500;700;900&family=IBM+Plex+Sans:wght@400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding-left: 24px;
  padding-right: 24.5px;
  box-sizing: border-box;
  padding-top: 23px;
}

.header_logo {
  display: block;
}

.header_text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #162542;
  background: #e8eff2;
  border-radius: 8px;
  width: 150px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: ease 0.2s;
}

.header_text:hover{
  color: white;
  background: #162542;
  border-radius: 8px;
}

.header2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 64px;
  padding-left: 24px;
  padding-right: 24px;
  box-sizing: border-box;
  overflow: hidden;
}

.header2_box1{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header2_text {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 48px;
  text-transform: uppercase;
  color: #162542;
  width: 327px;
  height: 96px;
}

.header2_text2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: #7b8bad;
  width: 327px;
  height: 72px;
  margin-top: 32px;
}

.preorder_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 32px;
}

.preorder_text {
  background: #f16718;
  border-radius: 8px;
  width: 150px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: ease 0.2s;
}

.preorder_text:hover{
  background: #FF9B62;
  border-radius: 8px;
}

.preorder_text2 {
  font-family: "Barlow";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  text-transform: uppercase;
  color: #7b8bad;
  padding-right: 18px;
}

.keyboard_photo{
  width: 372px;
  border-radius: 20px;
  margin-top: 64px;
  border-radius: 20px;
  width: 110%;
}

.keyboard_photo_tablet{
  display: none;
}

.keyboard_photo_desktop{
  display: none;
}

.gray_box{
  display: none;
}

.gray_box2{
  display: none;
}

.first_container{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
}

.cnt_box1{
  gap: 20px;
  display: flex;
  flex-direction: row;
  left: -22px;
  position: relative;
  width: 100%;
}

.mask_box{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
    
}

.mask{
  background: #F16718;
  border-radius: 20px;
  z-index: 1;
  mix-blend-mode: multiply;
  opacity: 0.75;
  position: absolute;
  height: 193px;
  width: 129px;
}

.cnt1_photo1{
  width: 129px;
  border-radius: 20px;
}

.cnt1_photo1_tablet{
  display: none;
}

.cnt1_photo1_desktop{
  display: none;
}

.cnt1_photo2{
  width: 220px;
  border-radius: 20px;
}

.cnt1_photo2_tablet{
  display: none;
}

.cnt1_photo2_desktop{
  display: none;
}

.cnt_box2{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cnt1_text1{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #162542;
  width: 255px;
  height: 108px;
  margin-top: 75px;
  padding-left: 60px;
}

.cnt1_text2{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #7B8BAD;
  margin-top: 24px;
  width: 327px;
  height: 104px;
  padding-left: 24px;  
}

.container_2{
  margin-top: 111px;
  display: flex;
  gap: 64px;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.block{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.compatible_logo{
  background: #F16718;
  border-radius: 16px;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.compatible_text1{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #162542;
  margin-top: 48px;
  width: 327px;
}

.compatible_text2{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #7B8BAD;
  margin-top: 24px;
  width: 327px;
}

.footer{
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 26px;
  color: #7B8BAD;
  padding-top: 96px;
  padding-bottom: 50px;
  width: 272px;
  height: 26px;
}

.diff_size{
  font-weight: 500;
}

@media screen and (min-width: 768px) {

  .header {
    padding-top: 40px;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
  }

  .header_text{
    background: #e8eff2;
    border-radius: 8px;
    width: 175px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #162542;
  }
  
  .header2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 69px;
    padding-top: 62px;
    padding-right: 0;
    padding-left: 40px;
    box-sizing: border-box;
    overflow: hidden;
  }

  .header2_box1{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
  }

  .header2_text{
    width: 339px;
  }

  .header2_text2{
    width: 339px;
    height: 78px;
    margin-top: 34px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
  }

  .preorder_box{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-top: 39px;
    gap: 37px;
  }

  .preorder_text{
    width: 175px;
    height: 58px;
  }

  .preorder_text2{
    width: 127px;
  }

  .keyboard_photo{
    display: none;
  }
  
  .keyboard_photo_tablet{
    display: block;
    height: 425px;
    width: 478px;
    border-radius: 20px 0 0 20px;
  }

  .keyboard_photo_desktop{
    display: none;
  }

  .cnt_box1{
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    position: relative;
    left: 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 30px;
    justify-content: space-between;
  }

  .cnt1_photo1{
    display: none;
  }
  
  .mask{
    width: 214px;
    height: 320px;
  }

  .cnt1_photo1_tablet{
    display: block;
    width: 214px;
    height: 320px;
    border-radius: 20px;
  }

  .cnt1_photo1_desktop{
    display: none;
  }

  .cnt1_photo2_desktop{
    display: none;
  }

  .cnt1_photo2{
    display: none;
  }
  
  .cnt1_photo2_tablet{
    display: block;
    width: 445px;
    height: 320px;
    border-radius: 20px;
  }

  .cnt_box2{
    margin-top: 72px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    justify-content: space-between;
  }

  .cnt1_text1{
    margin-top: 0;
    padding: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    text-transform: uppercase;
    color: #162542;
    text-align: inherit;
    width: 225px;
    height: 108px;
  }

  .cnt1_text2{
    padding: 0;
    margin-top: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    width: 398px;
    height: 78px;
    padding-right: 25px;
  }

  .container_2{
    margin-top: 143px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
    display: grid;
    gap: 72px;
    grid-template-columns: 50% 50%;
    overflow: hidden;
  }

  .block{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .compatible_logo{
    background: #F16718;
    border-radius: 16px;
    width: 65px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .compatible_text1{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #162542;
    margin-top: 40px;
    width: 218px;
    height: 56px;
    text-align: inherit;
  }
  
  .compatible_text2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    text-align: inherit;
    width: 281px;
  }

  .footer{
    padding-top: 144px;
    padding-bottom: 43px;
  }

}

@media screen and (min-width: 1440px) {

  .header {
    padding-top: 55px;
    padding-left: 165px;
    padding-right: 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
  }

  .header2{
    padding-left: 165px;
    padding-right: 165px;
    padding-top: 83px;
    gap: 125px;
    width: 100%;
  }

  .header2_text{
    width: 447px;
    height: 112px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 900;
    font-size: 56px;
    line-height: 56px;
    text-transform: uppercase;
    color: #162542;
  }

  .header2_text2{
    width: 445px;
    height: 78px;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 26px;
    color: #7B8BAD;
    margin-top: 24px;
  }

  .preorder_box{
    gap: 40px;
  }

  .header2_box2{
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }



  .keyboard_photo_tablet{
    display: none;
  }
  
  .keyboard_photo_desktop{
    display: block;
    width: 540px;
    border-radius: 20px;
  }

  .gray_box{
    display: block;
    position: absolute;
    top: 195px;
    right: -120px;
  }

  .gray_box2{
    display: block;
    position: absolute;
    left: -120px;
    top: 955px;
  }

  .first_container{
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .cnt_box1{
    padding-left: 165px;
    padding-right: 0;
    justify-content: flex-start;
    width: auto;
  }

  .cnt1_photo1{
    display: none;
  }
  
  .mask{
    height: 480px;
    width: 255px;
  }

  .cnt1_photo1_tablet{
    display: none;
  }

  .cnt1_photo1_desktop{
    display: block;
    height: 480px;
    border-radius: 20px;
  }

  .cnt1_photo2_desktop{
    display: block;
    width: 445px;
    border-radius: 20px;
  }

  .cnt1_photo2{
    display: none;
  }
  
  .cnt1_photo2_tablet{
    display: none;
  }

  .cnt_box2{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    width: 100%;
    align-items: flex-start;
    padding-left: 125px;
    padding-right: 0;
    box-sizing: border-box;
    justify-content: center;
  }

  .cnt1_text2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    width: 255px;
    height: 130px;
    margin-top: 27px;
    text-align: inherit;
  }

  .container_2{
    margin-top: 168px;
    padding-left: 165px;
    padding-right: 165px;
    box-sizing: border-box;
    display: grid;
    gap: 30px;
    grid-template-columns: auto auto auto auto;
    overflow: hidden;
  }

  .compatible_text2{
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #7B8BAD;
    width: 255px;
    height: 130px;
  }

  .footer{
    padding-top: 128px;
    padding-bottom: 39px;
  }


  
}
